@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');

@import url("components/container.css") ;
@import url("components/button.css") ;
@import url("components/banner.css") ;
@import url("components/card.css") ;

H1, H2, H3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#logo {
width: 100px;
height: 100px;

}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0px;
 }

 #image-banner{

width: 150px;
height: 150px;
 }

 .cote{
display: flex;
flex-grow: 1;
justify-content: space-around;
width: 60%;

 }

.texto{

  width: 20%;
  font-size: 25px;
  font-family: Helvetica;
  margin-top: 20px;
  text-align: justify;
}

.texto p {
padding: 30px;

}


